<div id="cloud-provider-show">

<div class="row-fluid tabbable">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <span class="brand"><%= @cloud_provider.name %></span>
          <ul class="nav pull-right">
          <li><%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_cloud_provider_path(@cloud_provider) %></li>
		  <li><%= link_to '<i class="icon-remove-sign"></i> Delete'.html_safe, cloud_provider_path(@cloud_provider), class: 'cloud-provider-delete', method: 'delete' %></li>
          <li><%= link_to '<i class="icon-level-up"></i> Cancel'.html_safe, cloud_providers_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6 tab-content">
    <div class="tab-pane active" id="data">
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th>Owner</th>
          <th>API Documentation</th>
          <th>Description</th>
        </tr>
        <tr>
          <%- owner = k(:owner, @cloud_provider.owner) -%>
          <%- cloud_provider = k(:cloud_provider, @cloud_provider) -%>
          <td><%= @cloud_provider.name %></td>
          <td><%= owner.name_link %></td>
          <td><%= cloud_provider.apidocs_link %></td>
          <td><%= @cloud_provider.description %></td>
        </tr>
      </table>
    </div>
    <h5>Configuration</h5>
    <pre><code><%= @cloud_provider.config %></code></pre>
  </div>
</div>

</div>
