<%- network = k(:network, @network) -%>

<div id="networks-show">

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="<%= network_path(@network) %>"><%= @network.name %></a>

        <ul class="nav">
          <li class="active"><a href="#network" data-toggle="tab">Network</a></li>
          <li><a href="#owner" data-toggle="tab">Owner</a></li>
          <li><a href="#history" data-toggle="tab">History</a></li>
        </ul>

        <ul class="nav pull-right">
          <li><%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_network_path(@network) %></li>
          <li><%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, network_path(@network), class: 'network-delete' %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="network">
      <div class="row-fluid">
        <div class="span6">
          <h5>Network</h5>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>address:</th>
                <th>prefix:</th>
                <th>netmask:</th>
                <th>broadcast:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= network.address %></td>
                <td><%= network.prefix %></td>
                <td><%= network.netmask %> / <tt><%= network.netmask_hex %></tt></td>
                <td><%= network.broadcast %></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-condensed">
            <thead>
            <tr>
              <th>host min:</th>
              <th>host max:</th>
              <th>hosts/total:</th>
              <th>hosts/used:</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= network.host_min %></td>
                <td><%= network.host_max %></td>
                <td><%= network.hosts_count %></td>
                <td><%= network.hosts_used %></td>
              </tr>
            </tbody>
          </table>

          <h5>Description</h5>
          <div class="box">
            <p><%= network.description %></p>
          </div>
        </div>

        <div class="span6">
          <h5 style="display:inline">IP Addresses</h5>
            <span style="margin-left: 20px">
              <%= check_box_tag 'toggle_ips' %>
              <span style="margin-left: 1px;font-size:0.8em">show unassigned IPs</span>
            </span>
            <div class="btn-group" style="margin-bottom: 5px; float:right">
              <button type="button" class="btn btn-default download">Download</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-to-left" role="menu">
                <li><h5><strong>Output options</strong></h5></li>
                <li>
                  <label>Separator: <input class="output-separator-input" size="2" value=";" type="text"></label>
                  <button type="button" class="output-separator btn btn-default btn-xs" title="comma">,</button>
                  <button type="button" class="output-separator btn btn-default btn-xs active" title="semi-colon">;</button>
                  <button type="button" class="output-separator btn btn-default btn-xs" title="tab">  </button>
                  <button type="button" class="output-separator btn btn-default btn-xs" title="space"> </button>
                  <button type="button" class="output-separator btn btn-default btn-xs" title="output JSON">json</button>
                  <button type="button" class="output-separator btn btn-default btn-xs" title="output Array (see note)">array</button>
                </li>
                <li>
                  <div class="btn-group output-download-popup" data-toggle="buttons" title="Download file or open in Popup window">
                    <label class="btn btn-default btn-sm active">
                      <input name="delivery1" class="output-popup" type="radio"> Popup
                    </label>
                    <label class="btn btn-default btn-sm">
                      <input name="delivery1" class="output-download" checked="" type="radio"> Download
                    </label>
                  </div>
                </li>
                <li>
                  <div class="btn-group output-filter-all" data-toggle="buttons" title="Output only filtered, visible or all rows">
                    <label class="btn btn-default btn-sm active">
                      <input name="getrows1" class="output-filter" checked="checked" type="radio"> Filtered
                    </label>
                    <label class="btn btn-default btn-sm">
                      <input name="getrows1" class="output-visible" type="radio"> Visible
                    </label>
                    <label class="btn btn-default btn-sm">
                      <input name="getrows1" class="output-all" type="radio"> All
                    </label>
                  </div>
                </li>
                <li class="divider"></li>
                <li>
                  <label>Replace quotes: <input class="output-replacequotes" size="2" value="&quot;" type="text"></label>
                  <button type="button" class="output-quotes btn btn-default btn-xs" title="single quote">'</button>
                  <button type="button" class="output-quotes btn btn-default btn-xs active" title="left double quote">“</button>
                  <button type="button" class="output-quotes btn btn-default btn-xs" title="escaped quote">\"</button>
                </li>
                <li><label title="Remove extra white space from each cell">Trim spaces: <input class="output-trim" checked="" type="checkbox"></label></li>
                <li><label title="Include HTML from cells in output">Include HTML: <input class="output-html" type="checkbox"></label></li>
                <li><label title="Wrap all values in quotes">Wrap in Quotes: <input class="output-wrap" type="checkbox" checked="checked"></label></li>
                <li><label title="Choose a download filename">Filename: <input class="output-filename" size="15" value="network-list.csv" type="text"></label></li>
              </ul>
            </div>
          <table id="ip_addresses_table" class="table table-condensed tablesorter network-table">
            <thead>
              <tr>
                <th>v4 address</th>
                <th>v6 address</th>
                <th>machine</th>
                <th>aliases</th>
                <th>owner</th>
              </tr>
            </thead>
            <tbody>
              <%- network.addresses.each do |ip| -%>
                <%= network.ip_address_row(ip) %>
              <%- end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="owner">
      <%- owner = k(:owner, network.owner) -%>
      <%= owner.description %>
      <small>(Owner: <%= owner.name_link %>)</small>
    </div>

    <div class="tab-pane" id="history">
      <%= render partial: 'shared/history', locals: {object: @network} %>
    </div>

  </div>
</div>

</div>
