<div id="maintenance-records-show">

<%- record = k(:machine_maintenance, @record) -%>

<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= maintenance_record_path(@record) %>">
            Maintenance Record - <%= record.title %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- if record.dangling? -%>
<div class="row-fluid">
  <div class="span12 alert alert-error">
    This record is not assigned to a machine. Please fix it!
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <%= simple_form_for @record do |f| %>
      <%= select_tag :machine_id, options_for_select(record.machine_list), include_blank: true, class: 'input-xxlarge' %>
      <%= f.submit 'Assign', class: 'btn btn-success' %>
    <%- end -%>
  </div>
</div>
<%- end -%>

<div class="row-fluid">
  <div class="span12">
    <%= record.logfile.force_encoding(Encoding::UTF_8) %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h5>Attachments</h5>
    <p><%= record.attachment_list.html_safe %></p>
  </div>
</div>

<%= simple_form_for(@record, html: {multipart: true }) do |f| %>
  <%= file_field_tag "attachments[]", type: :file, multiple: true %>
  <%= f.button :submit, "Attach" %>
<% end %>

</div>
