<div id="maintenance_template-form">
    <div class="row-fluid">
        <div class="span6">
            <%= simple_form_for(@maintenance_template) do |f| %>
            <%= f.input :name %>
            <%= f.input :invitation_contact, label: 'Announcement invitation E-Mail' %>
            <%= f.input :subject, as: :string, input_html: { style: "width: 80%;" } %>
            <%= f.input :body, as: :text, input_html: {rows: 20, style: "width: 80%;"}  %>
            <%= f.button :submit %>
            <%- end %>
        </div>
        <div class="span6">
            The subject and body can contain the following placeholders:
            <ul>
                <li><code>%{user}</code> - Display name of user sending announcement(e.g. <%= @current_user.display_name %>)</li>
                <li><code>%{machines}</code> - FQDNs of affected machines</li>
                <li><code>%{begin_date}</code> - Begin date maintenance</li>
                <li><code>%{end_date}</code> - End date of maintenance</li>
                <li><code>%{begin_time}</code> - Begin time of maintenance</li>
                <li><code>%{end_time}</code> - End time of maintenance</li>
                <li><code>%{begin_full}</code> - Begin date and time of maintenance</li>
                <li><code>%{end_full}</code> - End date and time of maintenance</li>
            </ul>
        </div>
    </div>
</div>
