<div id="maintenance_template-show">

    <%= render partial: 'nav_show', locals: {maintenance_template: @maintenance_template} %>

    <%- maintenance_template = k(:maintenance_template, @maintenance_template) %>
    
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-condensed">
                <tr>
                  <th>Name:</th>
                  <th>Announcements:</th>
                  <th>Subject:</th>
                </tr>
                <tr>
                    <td><%= maintenance_template.name %></td>
                    <td><%= maintenance_template.announcement_links %></td>
                    <td><%= maintenance_template.subject %></td>
                </tr>
                <tr>
                    <th>Template:</th>
                </tr>
                <tr>
                    <td colspan=2><pre><%= maintenance_template.body %></pre></td>
                </tr>
            </table>
        </div>
    </div>

</div>
