<div id="switches-index">

<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= switches_path %>">Switches</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <%= link_to('New', new_network_path) %> -->

<div class="row-fluid">
  <div class="span12">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <%- @switches.each_with_index do |switch, idx| -%>
          <%- active = idx == 0 ? 'active' : '' -%>

          <li class="<%= active %>"><a href="#switch-<%= switch.id %>" data-toggle="tab"><%= switch.name %></a></li>
        <%- end -%>
      </ul>
      <div class="tab-content">
        <%- @switches.each_with_index do |switch, idx| -%>
          <%- active = idx == 0 ? 'active' : '' -%>

          <div class="tab-pane <%= active %>" id="switch-<%= switch.id %>">
            <%= render partial: 'ports_table', locals: {switch: switch} %>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>

</div>
