<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= users_path %>">Users</a>
          <ul class="nav">
            <li><%= link_to '<i class="fa fa-times"></i> Deleted'.html_safe, deleted_users_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid" id="users-index">
  <div class="span12">
    <table class="table tablesorter">
      <thead>
        <tr>
          <th>Name</th>
          <th>Login</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <%- @users.each do |user| -%>
          <%- user = k(:user, user) -%>
            <td><%= user.name_link %></td>
            <td><%= user.login %></td>
            <td><%= user.email %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
