<div id="users-show">

<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= user_path(@user) %>"><%= @user.name %></a>
          <ul class="nav pull-right">
            <li><%= link_to '<i class="fa fa-level-up"></i> Cancel'.html_safe, users_path %></li>
            <li><%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, user_path(@user), class: 'user-delete' %></li>
          </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <%= simple_form_for(@user, html: {class: 'form-vertical', multipart: true },
          defaults: {input_html: {class: 'input-xxlarge'}}) do |f| %>
      <h5>Owners:</h5>
      <div class="span12" style="padding-left: 8px">
        <%= f.association :owners, collection: Owner.order('name ASC'), as: :check_boxes, label: false %>
      </div>
      <%= f.button :submit %>
    <%- end -%>
  </div>
</div>

</div>

