<table class="table">
  <thead>
    <tr>
      <th>Machine</th>
    </tr>
  </thead>
  <tbody>
	<%- @machines.each do |machine| -%>
	<tr>
	<td><%= link_to(machine.fqdn, machine_path(machine)) %></td>
	</tr>
	<%- end -%>
  </tbody>
</table>

<div id="software-index">
<%= form_tag("/software/search", method: "get") do %>
<%= label_tag(:q, "Search:") %>
<%= text_field_tag(:q, params["q"]) %>
<%= submit_tag("Search") %>
<% end %>

<h5>Query format</h5>
<p>
Search requests are in the format
<code>name=version</code> where the <code>=version</code> part is optional.
A request <a href="software/search?q=openvpn%3D2.3.11+nmap%3D7.12"><code>openvpn=2.3.11 nmap=7.12</code></a> would return all machines with openvpn version 2.3.11 and nmap version 7.12 installed.
Currently only conjunction of search terms is supported, every term stated must be fulfilled.
</p>
</div>

