<%= stylesheet_link_tag "table-fontsize" %>
<table class="table tablesorter maintenance_announcement-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Begin</th>
      <th>End</th>
      <th>User</th>
      <th>Template</th>
      <th>Machines</th>
      <th>Recipients</th>
      <th>Comment</th>
      <th>Tickets</th>
    </tr>
  </thead>
  <tbody>
    <%- maintenance_announcements.each do |maintenance_announcement| -%>
      <%- maintenance_announcement = k(:maintenance_announcement, maintenance_announcement) -%>
      <tr id="#maintenance-announcement-<%= maintenance_announcement.id %>">
        <td><%= link_to(maintenance_announcement.id, maintenance_announcement_path(maintenance_announcement.id)) %><%= link_to '<i class="fa fa-retweet" style="float: right;"></i>'.html_safe, new_maintenance_announcement_path(from: maintenance_announcement.id) %></td>
        <td><%= maintenance_announcement.create_date %></td>
        <td><%= maintenance_announcement.begin_date %></td>
        <td><%= maintenance_announcement.end_date %></td>
        <td><%= maintenance_announcement.user_link %></td>
        <td><%= maintenance_announcement.template_link %></td>
        <td><%= maintenance_announcement.machine_links %></td>
        <td>
        <%- if maintenance_announcement.email -%>
        <%= maintenance_announcement.email %>
        <%- else -%>
        <%= maintenance_announcement.owner_links %>
        <%- end -%>
        </td>
        <td><%= maintenance_announcement.short_comment %></td>
        <td><%= maintenance_announcement.ticket_links %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
