<div id="maintenance-announcements-edit">
    <%= render partial: 'nav_edit', locals: {maintenance_announcement: @maintenance_announcement} %>
    <%- maintenance_announcement = k(:maintenance_announcement, @maintenance_announcement) %>
    <div class="row-fluid">
        <div class="span12">
            <%= form_for @maintenance_announcement, url: {action: "update" } do |f| %>
            <table class="table table-condensed">
                <tr>
                    <th>User</th>
                    <th>Begin</th>
                    <th>End</th> 
                    <th>Owners</th>
                    <th>Machines</th>
                </tr>
                <tr>
                    <td><%= maintenance_announcement.user_link %></td>
                    <td><%= maintenance_announcement.begin_date %></td>
                    <td><%= maintenance_announcement.end_date %></td>
                    <td><%= maintenance_announcement.owner_links %></td>
                    <td><%= maintenance_announcement.machine_links %></td>
                </tr>
                <tr>
                    <th>Reason</th>
                    <th>Impact</th>
                    <th>Template</th>
                    <th>Tickets</th>
                    <th></th>
                </tr>
                <tr>
                    <td><%= maintenance_announcement.reason %></td>
                    <td><%= maintenance_announcement.impact %></td>
                    <td><%= maintenance_announcement.template_link %></td>
                    <td><%= maintenance_announcement.ticket_links %></td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="5">Comment</th>
                    <%# <th></th> %>
                </tr>
                <tr>
                    <td colspan="5"><%= f.text_area(:comment, rows: 15, id: 'markup-source') %></td>
                    <%# <td colspan="2"><div class="span12 markup-target box"></div></td> %>
                </tr>
            </table>
            <%= f.submit "Save" %>
            <% end %>
        </div>
    </div>


</div>
