<%# it's a bit hacky to wrap everything as form, but is an easy solution to
have a wizard style dialog done on the client side #%>

<%#= stylesheet_link_tag    "pikaday", media: "all" %>

<%= form_tag(controller: "maintenance_announcements", action: "create", method: "post") do %>

  <div class="tabbable">
    <%= render("nav_wizard", locals: {old_announcement: @old_announcement}) %>

    <div class="tab-content">
      <div class="tab-pane active" id="machines">
        <button type="button" onclick="selectAllVisible()">Select all visible</button>
        <button type="button" onclick="unselectAll()">Unselect all</button>
        <label for="ignore_vms">
          <%= check_box_tag("ignore_vms", 1, @ignore_vms) %> Ignore unselected VMs
        </label>
        <label for="ignore_deadlines">
          <%= check_box_tag("ignore_deadlines", 1, @ignore_deadlines) %> Ignore exceeded deadlines
        </label>

        <%- if not @missing_vms.empty? %>
          <div class="alert">
            <strong>Unselected VMs</strong> There are unselected virtual machines which belong to a selected machine.
            They are marked with <i class="fa fa-exclamation-triangle"/></i> and the VM host they belong to.
            If you are sure about your selection, you can choose to ignore unselected VMs at the bottom of the table.
          </div>
        <%- end %>
        <%- if not @exceeded_deadlines.empty? %>
          <div class="alert">
            <strong>Exceeded deadlines</strong> There are machines where the deadline for announcements is exceeded.
            They are marked with <i class="fa fa-calendar"/></i> and the nearest possible date.
            If you are sure about your selection, you can choose to ignore exceeded deadlines at the bottom of the table.
          </div>
        <%- end %>
        <%- if @date_error %>
          <div class="alert">
            <strong>Invalid dates:</strong> <%= @date_error %>
          </div>
        <%- end %>
        <%- if @machine_error %>
          <div class="alert">
            <strong><%= @machine_error %></strong>
          </div>
        <%- end %>
        <%- if not @no_contacts.empty? %>
          <div class="alert">
            <strong>Owners with missing contact:</strong>
            <ul>
            <%- @no_contacts.each do |owner| %>
              <%- owner = k(:owner, owner) %>
              <li><%= owner.name_link %></li>
            <%- end %>
            </ul>
          </div>
        <%- end %>
        <%- if not @no_deadline.empty? %>
          <div class="alert">
            <strong>Machines without deadline:</strong>
            <ul>
            <%- @no_deadline.each do |machine| %>
              <%- machine = k(:machine, machine) %>
              <li><%= machine.name_link %></li>
            <%- end %>
            </ul>
          </div>
        <%- end %>
        <%- if @maintenance_templates.empty? -%>
          <div class="alert">
            <strong>No announcement templates defined, please create one!</strong>
          </div>
        <%- end -%>
        <%- if @no_maintenance_template -%>
          <div class="alert">
            <strong>Announcement template not found!</strong>
          </div>
        <%- end -%>
        <%= render 'machines_table' %>
        <script>
          function selectAllVisible() {
            var cs = document.getElementsByName("machine_ids[]")
            for (var i=0; i<cs.length; i++) {
              if (cs[i].offsetParent !== null) {
                cs[i].checked = true;
              }
            }
          }
          function unselectAll() {
            var cs = document.getElementsByName("machine_ids[]")
            for (var i=0; i<cs.length; i++) {
                cs[i].checked = false;
            }
          }
        </script>
      </div>

      <div class="tab-pane" id="info">
        <div class="span8">
          <%= label_tag(:maintenance_template_id, "Template") %>
          <% if @old_announcement %>
          <%= select_tag(:maintenance_template_id, options_from_collection_for_select(@maintenance_templates, "id", "name", @old_announcement.maintenance_template_id)) %>
          <% else %>
          <%= select_tag(:maintenance_template_id, options_from_collection_for_select(@maintenance_templates, "id", "name", @maintenance_template_id)) %>
          <% end %>
          <%= label_tag(:email, "E-Mail Address") %>
          <% if @old_announcement %>
          <%= autocomplete_field_tag(:email, @old_announcement.email, autocomplete_maintenance_announcement_email_maintenance_announcements_path) %>
          <% else %>
          <%= autocomplete_field_tag(:email, @email, autocomplete_maintenance_announcement_email_maintenance_announcements_path) %>
          <% end %>

          <%= label_tag(:begin_date, "Begin") %>
          <%= datetime_select(:maintenance_announcement, :begin_date, default: { year: @begin_date.year, month: @begin_date.month, day: @begin_date.day, hour: @begin_date.hour, minute: 0} ) %>

          <%= label_tag(:begin_date, "End") %>
          <%= datetime_select(:maintenance_announcement, :end_date, default: { year: @end_date.year, month: @end_date.month, day: @end_date.day, hour: @end_date.hour, minute: 0} ) %>

          <%= label_tag("","") %>
          <%= submit_tag("Preview Announcement") %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<!--
<%= javascript_include_tag "pikaday" %>
<%= javascript_include_tag "moment.min" %>

<script>
  var date_picker = new Pikaday({ field: document.getElementById('date'), yearRange: [<%= Time.now.year %>, <%= Time.now.year + 1 %>], defaultDate: <%= Time.now.strftime("%F") %> });
</script>-->
