<div id="maintenance_ticket-show">
    <%= form_tag(controller: "maintenance_announcements", action: "submit", method: :post) do %>
      <%- @tickets.each do |ticket| -%>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed">
                    <tr>
                      <th>Owner:</th>
                      <th>E-Mail:</th>
                    </tr>
                    <tr>
                        <td><%= ticket.owner.nickname %></td>
                        <td><%= ticket.email %></td>

                    </tr
                    <tr>
                        <th>Subject:</th>
                    </tr>
                    <tr>
                        <td colspan=3><%= text_field_tag(:custom_subject, ticket.format_subject, style: "width: 80%") %></td>
                    </tr>
                    <tr>
                        <th>Body:</th>
                    </tr>
                    <tr>
                        <td colspan=3><%= text_area_tag(:custom_body, ticket.format_body, size: "150x20", style: "width: 80%") %></pre></td>
                    </tr>
                </table>
            </div>
        </div>
      <%- end -%>

      <%= hidden_field_tag :id, @announcement.id %>
      <%= submit_tag("Send Announcement") %>
    <% end %>

    <%= form_tag(controller: "maintenance_announcements", action: "cancel", method: :post) do %>
        <%= hidden_field_tag :id, @announcement.id %>
        <%= submit_tag("Edit Announcement") %>
    <% end %>
</div>
