<div id="maintenance_ticket-show">
    <%- @tickets.each do |ticket| -%>    
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-condensed">
                <tr>
                  <th>Owner:</th>
                  <th>E-Mail:</th>
                </tr>
                <tr>
                    <td><%= ticket.owner.nickname %></td>
                    <td><%= ticket.email %></td>

                </tr
                <tr>
                    <th>Subject:</th>
                </tr>
                <tr>
                    <td colspan=3><pre><%= ticket.format_subject %></pre></td>
                </tr>
                <tr>
                    <th>Body:</th>
                </tr>
                <tr>
                    <td colspan=3><pre><%= ticket.format_body %></pre></td>
                </tr>
            </table>
        </div>
    </div>
    <%- end -%>

    <%= form_tag(controller: "maintenance_announcements", action: "submit", method: :post) do %>
        <%= hidden_field_tag :id, @announcement.id %>
        <%= submit_tag("Send") %>
    <% end %>

    <%= form_tag(controller: "maintenance_announcements", action: "cancel", method: :post) do %>
        <%= hidden_field_tag :id, @announcement.id %>
        <%= submit_tag("Cancel") %>
    <% end %>
</div>