<div id="invetory-status-form">

<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%- if @inventory_status.new_record? -%>
            <a class="brand" href="<%= new_inventory_status_path %>">New inventory status</a>
          <%- else-%>
            <a class="brand" href="<%= edit_inventory_status_path(@inventory_status) %>"><%= @inventory_status.name %></a>
          <%- end -%>
          <ul class="nav pull-right">
          <%- unless @inventory_status.new_record? -%>
            <li><%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, inventory_status_path(@inventory_status), class: 'inventory_status-delete', method: 'delete' %></li>
            <li><%= link_to '<i class="fa fa-level-up"></i> Cancel'.html_safe, inventory_status_path(@inventory_status) %></li>
          <%- else -%>
            <li><%= link_to '<i class="fa fa-level-up"></i> Cancel'.html_safe, inventory_status_index_path %></li>
          <%- end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="base">
    <div class="row-fluid">
      <div class="span6">
        <%= simple_form_for(@inventory_status, url: @inventory_status.new_record? ? inventory_status_index_path : inventory_status_path(@inventory_status), html: {class: 'form-horizontal', multipart: true },
              defaults: {input_html: {class: 'span6'}}) do |f| %>
          <%= f.input :name %>
          <%= f.input :inactive %>
          <%= f.button :submit %>
        <%- end -%>
      </div>
    </div>
  </div>
</div>

</div>
