<!--      <%- unless @all_locations.empty? -%>
        <h3>Existing locations:</h3>
        <table class="location_table">
        <tr>
          <%-  @location_levels.each do |location_level| -%>
            <th><%= location_level.name %></th>
          <%- end %>
        </tr>
        <%- Location.roots.each do |l| -%>
          <tr><td><%= l.name %></td><td></td><td></td><td></td><td></td></tr>
          <%- l.children.each do |l20| -%>
            <tr><td></td><td><%= l20.name %></td><td></td><td></td><td></td></tr>
            <%- l20.children.each do |l30| -%>
              <tr><td></td><td></td><td><%= l30.name %></td><td></td><td></td></tr>
              <%- l30.children.each do |l40| -%>
                <tr><td></td><td></td><td></td><td><%= l40.name %></td><td></td></tr>
                <%- l40.children.each do |l50| -%>
                  <tr><td></td><td></td><td></td><td></td><td><%= l50.name %></td></tr>
                <%- end -%>
              <%- end -%>
            <%- end -%>
          <%- end -%>
        <%- end -%>
        </table>
      <%- end -%>
-->
<%= javascript_include_tag "jquery.a11yTree" %>

<%
def draw_tree(location)
%>
<ul>
  <li>

<%
  if not location.children.empty?
%>
<i class="fa fa-plus-square"></i>
<span class="tree-item-label"><%= location.name %></span>
<%
    location.children.each do |child|
      draw_tree(child)
    end
  end
%>
  </li>
</ul>
<%
end
%>

<%- unless @all_locations.empty? -%>
<h3 id="tree-label">Existing locations:</h3>
<div id="location-tree">
<%- Location.roots.each do |l| -%>
  <% draw_tree(l) %>
<%- end -%>
</div>
<%- end -%>

<script>
$('#location-tree > ul').a11yTree({
                     treeLabelId:'tree-label',
                     toggleSelector:'i.fa',
                     treeItemLabelSelector:'.tree-item-label'
                });
</script>

